/*
        Para establecer estilos en una etiqueta/clase/id <- selectores
        selector {
        "propiedades":"valor"
        }
        */

body {
    /*Textos y fuentes */
    font-family:
        Arial Helvetica,
        sans-serif;
    /*Color: red;*/
    font-size: 16px;
    /*text-align: center;*/
    font-weight: 800;
    /*font-style: italic;*/
}

/*Estilo para clases*/
.inicio {
    text-align: center;
    font-style: italic;
}

header {
    /*cambio de color fondo*/
    background-color: black;
    /*Cambia el color del fondo*/
    color: white;
    /*Cambia el color del texto*/
    padding: 20px;
    /*Espacio interno de una etiqueta, puedes colocar 4 valores para top, right, bottom y left respectivamente*/
    /* padding: global;
            padding: (top-bottom) (left - right)
            padding: top (left - right) bottom 
            padding: top right bottom left
                Ubicaciones del padding, margin y border
            padding-top: 10px;
            padding-bottom: 50px;
            padding-left: 20px;
            padding-right: 20px;
            */

    border: 5px solid gray;
    /* border: trabaja con el marco del contenedor/etiqueta
            border: grosor tipo color;
            tipos de bordes: 
            solid
            dashed
            doted
            inset
            none 
            */
    border-radius: 40px;
    border-style: dashed;
}

/*Estilos para id, generalmente solo para java*/
#habilidades {
    text-align: center;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
}
.main-contenido{
    margin:30px;
    text-align: center;
    background-color: gray;
    padding: 20px;
}

.contenedor-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.footer{
    margin-top: 40px;
    text-align: center;
    background-color: gray;
}